/* Common Styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  color: #f15b22;
  margin-top: 20px;
}
.btn-primary:hover {
  cursor: pointer;
}

/* Banner Styles */
.banner {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: #151414;
  padding: 215px 70px 160px 0;
  margin-bottom: 100px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
}
.banner p {
  margin-top: 24px;
  margin-bottom: 34px;
}
.banner-btn {
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
  background: #f15b22;
}
.banner-btn:hover {
  cursor: pointer;
}

/* My failures */
.my-failures {
  display: flex;
  justify-content: center;
  gap: 90px;
  align-items: center;
  margin: 0 100px 100px;
}
.failure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.my-failures ol li {
  list-style-image: url("../images/icons/check-mark1.png");
  margin-top: 5px;
}

/* positive mindset */
.mindset {
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url("../images/watch.png");
  background-repeat: no-repeat;
  margin: 0 130px 100px;
  border-radius: 8px;
  padding: 60px 64px;
}
.mindset h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}
