/* Common Styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  color: #005fac;
}
.btn-primary:hover {
  cursor: pointer;
}

/* Banner Styles */
.banner {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: #151414;
  padding: 215px 70px 160px 0;
  margin-bottom: 100px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
}
.banner p {
  margin-top: 24px;
  margin-bottom: 34px;
}
.banner-btn {
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
  background: #f15b22;
}
.banner-btn:hover {
  cursor: pointer;
}

/* My failures */
.my-failures {
  padding: 0 250px;
  display: flex;
  gap: 90px;
  align-items: center;
  margin: 0 auto 100px;
}
.failure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.my-failures ol li {
  list-style-type: square;
}

/* My Plans */
.plan-section {
  text-align: center;
}
.plan-section > h1 {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 50px;
}
.plans{
  display: flex;
  justify-content: center;
  gap: 30px;
}