/* Common Styles */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  color: #f15b22;
  margin-top: 20px;
}
.btn-primary:hover {
  cursor: pointer;
}

/* Banner Styles */
.banner {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: #151414;
  padding: 215px 70px 160px 0;
  margin-bottom: 100px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
}
.banner p {
  margin-top: 24px;
  margin-bottom: 34px;
}
.banner-btn {
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
  background: #f15b22;
}
.banner-btn:hover {
  cursor: pointer;
}

/* My failures */
.my-failures {
  padding: 0 250px;
  display: flex;
  gap: 90px;
  align-items: center;
  margin: 0 auto 100px;
}
.failure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.my-failures ol li {
  list-style-type: square;
}

/* My Plans */
.plan-section {
  margin-bottom: 100px;
}
.plan-section > h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 50px;
}
.plans {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.plan {
  box-shadow: 5px 5px 10px gray;
  border-radius: 20px;
  padding: 10px;
}
.plan img {
  width: 90px;
}
.plan-name {
  font-weight: 700;
  font-size: 30px;
  margin: 15px 0;
}
.plan-work {
  font-size: 25px;
  font-weight: 500;
  color: #737272;
}

/* positive mindset */
.mindset {
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url("../images/watch.png");
    background-repeat: no-repeat;
  margin: 0 130px 100px;
  border-radius: 8px;
  padding: 60px 64px;
}
.mindset h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

/* footer */
.footer {
  display: flex;
  gap: 300px;
  background-color: #151414;
  padding: 130px 200px;
  color: #ffffff;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
}
.footer-details {
  margin-top: 15px;
  margin-bottom: 20px;
}
.footer .phone {
  margin: 20px 0;
}
.social-icons {
  display: flex;
  gap: 20px;
}
.sub {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}
.email-inp {
  background: #151414;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  font-size: 25px;
  color: #FFFFFF;
}
